<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.digitalflow.Kwanzaa360">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <application
        android:name="com.digitalflow.Kwanzaa.Kwanzaa360"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Kwanzaa">
        <activity
            android:name="com.digitalflow.Kwanzaa.KwanzaaViewPager"
            android:label="@string/title_activity_kwanzaa_view_pager"
            android:theme="@style/Kwanzaa">
        </activity>
        <activity
            android:name="com.digitalflow.Kwanzaa.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Kwanzaa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.digitalflow.Kwanzaa.ICelebrateKwanzaa"
            android:label="@string/title_activity_icelebrate_kwanzaa"
            android:theme="@style/Kwanzaa">
        </activity>

        <service
            android:name="com.digitalflow.Kwanzaa.GeocodeService"
            android:exported="false"/>

        <activity
            android:name="com.digitalflow.Kwanzaa.KwanzaaActivities"
            android:label="@string/title_activity_kwanzaa_activities"
            android:theme="@style/Kwanzaa">
        </activity>
        <receiver android:name="com.digitalflow.Kwanzaa.NotificationReciever"/>
    </application>

</manifest>